body {
    margin: 0;
    padding: 0;
    background-color: rgb(199, 214, 238);
}

#board {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-image: url(../images/road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

#player {
    background-image: url('../images/yellow\ car.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.obstacleStone {
    background-image: url('../images/stone.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.obstacleTrunk {
    background-image: url('../images/trunk.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

#page-gameover {
    text-align: center;
    background-color: rgb(166, 161, 171);
}

#scorePoints {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 25px;
    position: relative;
    margin: 10px;
}

#gameOver {
    display: none;
}