body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family:'Courier New', Courier, monospace;
}

h1 {
    margin:10px 0 0 0;  
}

h2 {
    margin:0;  
    color: white;
    font-size: 20px;
}

#board {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    background-image: url(../images/road.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

#player {
    background-image: url('../images/car.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.obstacleStone {
    background-image: url('../images/stone.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}

.obstacleTrunk {
    background-image: url('../images/trunk.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
}



#gameStart {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/car\ start.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 1000px;
    height: 700px;
    border: 5px solid rgb(255, 208, 0);
    font-weight: bold;
    font-size: 60px; 
    color: rgb(255, 208, 0);
    text-align:center;
    margin: 40px auto;
    border-radius: .25rem;
} 


#start {
    flex:auto;
    align-self: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50%;
    border-radius: .25rem;
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    width: 30%;
    height: 15%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
}


#gameOver {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../images/car\ game\ over.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 1000px;
    height: 700px;
    border: 5px solid rgb(255, 208, 0);
    font-weight: bold;
    font-size: 60px; 
    color: rgb(255, 208, 0);
    text-align: center;
    margin: 40px auto;
    border-radius: .25rem;
}

#scorePoints {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position:relative;
    margin: 1px;
    font-family:'Courier New', Courier, monospace;
    align-items: center;
    align-content: center;
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

#restart {
    flex:auto;
    align-self: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 50%;
    border-radius: .25rem;
    cursor: pointer;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    width: 30%;
    height: 15%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15%;
}
